@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #c9e0f5;
  overflow: hidden;
}

.App {
  position: relative;
  height: 100vh;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  color: white;
  cursor: move;
}


.line {
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed;
  inset: 0px;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
